
@model IEnumerable<KakuWebApp.Areas.Employee.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}


<section>
    <div class="card">
        <div class="card-header">
            <h4 style="font-weight: bold;" class="text-info">Employee</h4>
        </div>
        <div class="card-body">
            <form asp-area="Employee" asp-controller="Employee" asp-action="Index" method="post" enctype="multipart/form-Data">
                
                <input type="hidden" name="id" id="id" value="0"/>

                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Employee Name <span style="color: red">*</span></label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="name" id="name" placeholder="    enter employee name"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Employee Age <span style="color: red">*</span></label>
                    <div class="col-md-10">
                        <input type="number" class="form-control" name="age" id="age" placeholder="    enter employee age"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label">Employee Name <span style="color: red">*</span></label>
                    <div class="col-md-10">
                        <input type="file" class="form-control" name="profile" id="profile"/>
                    </div>
                </div>
                <div class="form-group row" style="float: right">
                    <input type="submit" class="btn btn-primary" value="Submit"/>
                </div>
            </form>
        </div>
    </div>
    
    <br/>

    <div class="ListOfEmployee">
        <div class="card">
            <div class="card-header">
                <h4 style="font-weight: bold" class="text-info">List of Employee</h4>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Image</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.id</td>
                            <td>@item.name</td>
                            <td>@item.age</td>
                            <td>
                                <img src="data:image;base64, @Convert.ToBase64String(item.profile)" class="img-responsive" width="50px" height="50px"/>
                            </td>
                            <td>
                                <a href="#" class="btn btn-success" style="color: whitesmoke" onclick="Edit(@item.id, '@item.name', '@item.age')">Edit</a>
                                <a href="#" class="btn btn-danger" style="color: whitesmoke" asp-area="Employee" asp-controller="Employee" asp-action="Index" asp-route-id="@item.id" >Delete</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script>
       


        function Edit(id, name, age) {

            $("#id").val(id);
            $("#name").val(name);
            $("#age").val(age);
        }

    </script>
}
